@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&family=Russo+One&display=swap');

/* ОБЩИЕ НАСТРОЙКИ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
    user-select: none;
    outline: 0;
}

.hidden {
    display: none;
    opacity: 0;
}

body {
    height: 100vh;
}

.ver {
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

/* ЗАГРУЗКА СТРАНИЦЫ*/
.loading-screen {
    height: 100vh;
}

.loading-screen {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    padding-top: 150px;
    background-image: url(main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.loading-anim {
    animation: loading 3s infinite ease-in-out;
    animation-iteration-count: infinite 1;
    animation-fill-mode: forwards;
    width: 60px;
    height: 60px;
    background-color: transparent;
    margin: 25% auto;
    border: 2px solid white;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-radius: 50%;
}

@keyframes loading {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(255, 255, 255, 0.37);
    }

    to {
        transform: rotate(360deg);
        background-color: transparent;
    }
}

.appear {
    animation: appear 1.5s ease-in-out forwards;
    opacity: 0;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

.disappear {
    animation: disappear 1.5s ease-in-out forwards;
    opacity: 1;
}

@keyframes disappear {
    to {
        opacity: 0;
    }
}

/* ФОРМА ВХОДА */
#login-btn {
    border: none;
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 10x;
    background-color: transparent;
    font-size: 18px;
    color: white;
    filter: drop-shadow(0px 0 2px rgba(0, 0, 0, 0.856));
    transition: 0.2s;
}

#login-btn:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0 5px rgba(0, 0, 0, 0.856));
}

#login-btn:active {
    transform: scale(1);
}

.login-form {
    width: 250px;
    height: 120px;
    position: absolute;
    right: 30px;
    top: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 15px;
    z-index: 1000;
}

#login-name {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 5px;
    height: 25px;
    margin: 10px 0;
    font-size: 18px;
}

#login-submit {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;

}

#login-submit:active {
    transform: scale(0.95);
}


/* ЧАСЫ */
.main {
    height: 100vh;
    background-image: url(main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 0;
}

.clock {
    margin: 150px auto 0 auto;
    width: 350px;
    text-align: center;
    color: #fff;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    background-size: 400% 400%;
    padding: 20px;
    border-radius: 25px;
    filter: drop-shadow(0px 0 2px rgba(0, 0, 0, 0.856));
}

.clock ul {
    margin: 0 auto;
    list-style: none;
}

.clock li {
    display: inline;
    font-size: 60px;
}

.date li {
    font-size: 22px;
}


/* ПРИВЕТСТВИЕ */

.greetings {
    width: fit-content;
    margin: 15px auto 0 auto;
    text-align: center;
    color: #fff;
    font-size: 20px;
    filter: drop-shadow(0px 0 2px rgba(0, 0, 0, 0.856));
}

.name {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    width: 100px;
}


/* ПОГОДА */

.weather {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 250px;
    margin: auto;
    color: white;
    font-size: 20px;
    filter: drop-shadow(0px 0 2px rgba(0, 0, 0, 0.856));
    cursor: pointer;
}


/* ФУТЕР */

.scroll {
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.scroll:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.scroll p {
    margin: 0 10px;
    font-size: 18px;
    filter: drop-shadow(0px 0 2px rgba(0, 0, 0, 0.856))
}

.arrow-down {
    width: 15px;
    filter: invert(1) drop-shadow(0px 0 2px rgba(0, 0, 0, 0.856));

}

.jump {
    animation: jump 4s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    50% {
        transform: translateY(3px);
    }
}

/* РАБОЧЕЕ ПРОСТРАНСТВО */
.workflow-container {
    height: 100vh;
    z-index: -1;
}

.workflow-container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg) scaleX(-1);
    filter: brightness(70%);
    z-index: -1;

}

.workfield {
    height: fit-content;
}

/*КНОПКА ВОЗВРАТА НА НАЧАЛЬНЫЙ ЭКРАН*/
.go-up {
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    justify-self: center;
    filter: invert();
}

.arrow-up {
    width: 15px;
    transform: rotate(180deg);
    position: absolute;
    transition: 0.2s;
    left: 50%;
}

.arrow-up:hover {
    transform: rotate(180deg) scale(1.05) translateY(2px);
}

/*МИНИ-ВИДЖЕТ ПОГОДЫ*/
.mini-weather {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.mini-weather img {
    width: 30px;
    filter: contrast(150%);
}

.loc-mini {
    margin-right: 10px;
    width: 0;
    opacity: 0;
    transition: 0.5s;
}

.mini-weather:hover .loc-mini {
    width: 80px;
    opacity: 1;
}

/* МЕНЮ ПРИЛОЖЕНИЙ */

.workflow-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.workflow-apps {
    display: flex;
    margin-left: 20px;
    cursor: pointer;
}

.workflow-apps li {
    padding: 25px 10px;
    transition: 200ms;
}

.workflow-apps li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.workflow-apps .menu-active:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.menu-active {
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.4);
}

/*ОБЛАСТЬ ПРИЛОЖЕНИЯ "СПИСОК ДЕЛ"*/

.todo-field {
    width: 100vw;
    z-index: -1;
    margin: 15px auto;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    opacity: 1;
}

.todo-field>p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 50px;
    color: white;
    filter: drop-shadow(0 0 5px black);
    margin-left: 10px;
    text-align: center;
    width: 100%;
    height: fit-content;
}

.app-switch-forward {
    animation: switch-up 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    margin-top: initial;
    opacity: 1;
}

@keyframes switch-up {
    to {
        margin-top: -500px;
        opacity: 0;
    }
}

.app-switch-backward {
    animation: switch-down 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    margin-top: -500px;
    opacity: 0;
}

@keyframes switch-down {
    to {
        margin-top: inherit;
        opacity: 1;
    }
}

/*АКТИВНЫЕ ЗАДАЧИ*/

.tasks {
    margin-top: 20px;
    padding-bottom: 5px;
    width: 450px;
    height: fit-content;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
    margin: 20px 10px 0 10px;
}

.active {
    background-color: rgba(100, 39, 199, 0.5);
}

.done {
    background-color: rgba(56, 235, 1, 0.5);
}

.task-title {
    font-size: 24px;
    margin: 10px 0 0 20px;
    color: #fff;
    font-weight: 600;
}

.task-text {
    width: 80%;
    margin: 10px 0 10px 20px;
    padding-left: 10px;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    vertical-align: middle;
}

/*СООБЩЕНИЕ ДЛЯ ПУСТОГО СПИСКА ВЫПОЛНЕННЫХ*/

.empty-list-msg {
    color: white;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
}

/*КНОПКА ДОБАВЛЕНИЯ ЗАДАЧИ*/

.add-task-btn {
    vertical-align: middle;
    margin-left: 10px;
    padding: 5px 12px;
    color: white;
    font-size: 22px;
    border-radius: 50%;
    border: none;
    background-color: rgb(2, 189, 126);
    transition: 0.2s;
}

.add-task-btn:hover {
    background-color: rgb(2, 189, 126, 0.8);
    transform: scale(1.1);
}

.add-task-btn:active {
    background-color: rgb(2, 189, 126, 1);
    transform: scale(1);
}

/*НОВАЯ ЗАДАЧА И АНИМАЦИЯ ПОЯВЛЕНИЯ*/

.new-task {
    display: flex;
    width: 450px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.getdown {
    animation: getdown 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-timing-function: ease-in;
    margin-top: -30px;
}

@keyframes getdown {
    100% {
        opacity: 1;
        margin-top: 10px;
    }
}

.getup {
    animation: getup 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    z-index: -1;
    opacity: 1;
    margin-top: 10px;

}

@keyframes getup {
    100% {
        opacity: 0;
        margin-top: -39px;
    }
}

.task-content {
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
}

.done-checkbox {
    width: 24px;
    height: 24px;
    display: none;
}

label::before {
    content: "";
    z-index: 1000;
    background-image: url(tick-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 45px;
    filter: invert() drop-shadow(0 0 3px rgb(0, 0, 0));
    cursor: pointer;
}

/*КАЛЬКУЛЯТОР*/

.calc-wrapper {
    background-color: #fff;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 5px;
    padding: 10px;
    background-color: rgba(14, 128, 235, 0.425);
    border-radius: 10px;
    filter: drop-shadow(0 0 2px rgba(2, 0, 0, 0.801));
}

.btn {
    min-width: 60px;
    min-height: 60px;
    filter: drop-shadow(0 0 2px black);
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    transition: 100ms;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.6;
}

.btn:active {
    transform: scale(0.95);
}

.func {
    margin: 2px 2px;
    background-color: rgba(170, 173, 172, 0.61);
    color: white;
    min-height: 65px;
    min-width: 65px;
}

.screen {
    width: 95%;
    padding: 15px 10px;
    min-height: 80px;
    font-size: 40px;
    background-color: white;
    margin: 10px auto;
    grid-row: 1/1;
    grid-column: 1/7;
    border-radius: 10px;
    text-align: right;
    font-family: 'Russo One', serif;
    letter-spacing: 2px;
    overflow: hidden;
}

.del {
    grid-row: 2/3;
    grid-column: 1/2;
}

.negative {
    grid-row: 4/5;
}

.clear {
    grid-row: 5/6;
}

.zero {
    grid-column: 2/4;
}

.equal {
    grid-column: 5/7;
}